<div class="fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><i class="fa fa-table fa-fw"></i></span>&nbsp;
                    <span style="font-weight: bold;">
                        小桩
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table datatable table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="80">序号</th>
                                    <th>小桩名称</th>
                                    <th>桩点名称</th>
                                    <th>状态</th>
                                    <th>启用</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
