<div class="fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><i class="fa fa-table fa-fw"></i></span>&nbsp;
                    <span style="font-weight: bold;">
                        租车记录
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table datatable table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="80">序号</th>
                                    <th>订单号</th>
                                    <th>用户名称</th>
                                    <th>租用车辆</th>
                                    <th>开始桩点</th>
                                    <th>开始时间</th>
                                    <th>结束桩点</th>
                                    <th>结束时间</th>
                                    <th>支付状态</th>
                                    <th>支付方式</th>
                                    <th>支付金额</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

