<div id="modal-form-trackxxx" class="modal fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: inline-block; width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseSchooltrackModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title-track"></h4>
            </div>
            <div class="modal-body">
                <form id="modal-content-track" class="form-horizontal">
                    <!--Content-->
                    <div class="fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span><i class="fa fa-table fa-fw"></i></span>&nbsp;
                                        <span style="font-weight: bold;">
                                            车辆使用状况详情
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table id="tblDetail" class="table datatable table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th width="80">序号</th>
                                                    <th>学校名称</th>
                                                    <th>车辆编号</th>
                                                    <th>租用人</th>
                                                    <th>租车时间</th>
                                                    <th>归还时间</th>
                                                    <th>租车地点</th>
                                                    <th>归还地点</th>
                                                    <th>状态</th>
                                                    <th>异常原因</th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="CloseSchooltrackModal()">关闭</button>
            </div>
        </div>
    </div>
</div>

