<div class="fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><i class="fa fa-table fa-fw"></i></span>&nbsp;
                    <span style="font-weight: bold;">
                        车辆信息
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table1" class="table datatable table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="80">序号</th>
                                    <th>车牌号</th>
                                    <th>最近租用时间</th>
                                    <th>车辆版本</th>
                                    <th>车锁类型</th>
                                    <th>投放时间</th>
                                    <th>骑行时间(m)</th>
                                    <th>骑行次数</th>
                                    <th>费用总计(元)</th>
                                    <th>车辆状态</th>
                                    <th>车辆位置</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

